### Data Science Academy

## Fundamentos de Linguagem Python para Análise de Dados e Data Science

# Capítulo 4 - Estruturas de Dados (Listas)

In [1]:
#Versão da Linguagem Python
from platform import python_version
print("Versão da Linguagem Python usada neste Jupyter Notebook:", python_version())

Versão da Linguagem Python usada neste Jupyter Notebook: 3.11.7

### Trabalhando com Listas

In [2]:
#Criando uma lista
lista_1 = ["arroz, frango, tomate, leite"]

In [3]:
type(lista_1)

list

In [4]:
#Imprimindo a lista
print(lista_1)

['arroz, frango, tomate, leite']

In [5]:
#Criando outra lista
lista_2 = ["arroz","frango","tomate","leite"]

In [6]:
type(lista_2)

list

In [7]:
#Criando outra lista
lista_3 = [23,100,"Cientista de Dados"]

In [8]:
type(lista_3)

list

In [9]:
print(lista_2)

['arroz', 'frango', 'tomate', 'leite']

In [10]:
#Atribuindo cada valor da lista a uma variável.
item1 = lista_3[0]
item2 = lista_3[1]
item3 = lista_3[2]

In [11]:
print(item1,item2,item3)

23 100 Cientista de Dados

### Atualizando um item da lista

In [12]:
#Imprimindo um item da lista
lista_2[2]

'tomate'

In [13]:
#Atualizando um item da lista
lista_2[2] = "chocolate"

In [14]:
lista_2

['arroz', 'frango', 'chocolate', 'leite']

### Deletando um item da lista

In [15]:
#Não é possível deletar um item que não existe na lista. vai gerar um erro de index out of range.
del lista_2[4]

IndexError: list assignment index out of range

In [16]:
#Deletando um item em específico da lista
del lista_2[3]

In [17]:
#Imprimindo o item com a lista alterada
lista_2

['arroz', 'frango', 'chocolate']

### Listas de listas (listas aninhadas)

Listas de listas são matrizes em Python.

In [18]:
#Criando uma lista de listas
listas = [[1,2,3], [10,15,14], [10.1,8.7,2.3]]

In [19]:
#Imprimindo a lista
print(listas)

[[1, 2, 3], [10, 15, 14], [10.1, 8.7, 2.3]]

In [20]:
#Atribuindo um item da lista a uma variável
a = listas[0]
a

[1, 2, 3]

In [21]:
b = a[0]
b

1

In [22]:
lista1 = listas[1]
lista1

[10, 15, 14]

In [23]:
valor_1_0 = lista1[0]
valor_1_0

10

In [24]:
valor_1_2 = lista1[2]
valor_1_2

14

In [25]:
lista2 = listas[2]
lista2

[10.1, 8.7, 2.3]

In [26]:
valor_2_0 = lista2[0]
valor_2_0

10.1

### Operações com listas

In [28]:
#Criando uma lista aninhada (lista de listas)

listas = [[1,2,3], [10,15,14], [10.1,8.7,2.3]]
listas

[[1, 2, 3], [10, 15, 14], [10.1, 8.7, 2.3]]

In [29]:
#Atribuindo á variável a o primeiro valor da primeira lista
a = listas[0][0]
a

1

In [30]:
b = listas[1][2]
b

14

In [31]:
c = listas[0][2] + 10
c

13

In [33]:
d = 10
d

10

In [34]:
e = d * listas[2][0]
e

101.0

### Concatenando listas

In [35]:
lista_s1 = [34,32,56]
lista_s1

[34, 32, 56]

In [36]:
lista_s2 = [21,90,51]
lista_s2

[21, 90, 51]

In [37]:
lista_total = lista_s1 + lista_s2
lista_total

[34, 32, 56, 21, 90, 51]

### Operador in

In [38]:
#Criando uma lista
lista_teste_op = [100, 2, -5, 3.4]

In [43]:
#Verificando se o valor 10 pertence a lista
print(10 in lista_teste_op)

False

In [44]:
#Verificando se o valor 100 pertence a lista
print(100 in lista_teste_op)

True

### Funções Built-in

In [1]:
#Criando uma lista
lista_numeros = [10, 20, 50, -3.4]

In [41]:
#Função len() retorna o comprimento da lista
len(lista_numeros)

4

In [42]:
#Função max() retorna o valor máximo da lista
max(lista_numeros)

50

In [2]:
#Função min() retorna o valor mínimo da lista
min(lista_numeros)

-3.4

In [5]:
#Criando uma lista
lista_formacoes_dsa = ["Analista de Dados", "Cientista de Dados", "Engenheiro de Dados"]
lista_formacoes_dsa

['Analista de Dados', 'Cientista de Dados', 'Engenheiro de Dados']

In [6]:
#Adicionando um item à lista
lista_formacoes_dsa.append("Engenheiro de IA")
lista_formacoes_dsa

['Analista de Dados',
 'Cientista de Dados',
 'Engenheiro de Dados',
 'Engenheiro de IA']

In [7]:
lista_formacoes_dsa.append("Engenheiro de IA")
lista_formacoes_dsa

['Analista de Dados',
 'Cientista de Dados',
 'Engenheiro de Dados',
 'Engenheiro de IA',
 'Engenheiro de IA']

In [9]:
lista_formacoes_dsa.count("Engenheiro de IA")

2

In [12]:
#Criando uma lista vazia
a = []
type(a)

list

In [13]:
print(a)

[]

In [15]:
a.append(10)
a

[10]

In [16]:
a.append(50)
a

[10, 50]

In [17]:
old_list = [1,2,5,10]

In [18]:
new_list = []

In [19]:
#Copiando os itens de uma lista para outra
for item in old_list:
    new_list.append(item)

new_list

[1, 2, 5, 10]

In [20]:
cidades = ['Recife', 'Manaus', 'Salvador']
cidades.extend(['Fortaleza', 'Palmas'])
print(cidades)

['Recife', 'Manaus', 'Salvador', 'Fortaleza', 'Palmas']

In [21]:
cidades.index('Salvador')

2

Lembre-se: em Python o índice começa por 0!

In [22]:
cidades.index('Rio de Janeiro')

ValueError: 'Rio de Janeiro' is not in list

In [23]:
cidades

['Recife', 'Manaus', 'Salvador', 'Fortaleza', 'Palmas']

In [26]:
cidades.insert(2,110)
cidades

['Recife', 'Manaus', 110, 110, 'Salvador', 'Fortaleza', 'Palmas']

['Recife', 'Manaus', 110, 'Salvador', 'Fortaleza', 'Palmas']

In [28]:
#Remove um item da lista
cidades.remove(110)
cidades

['Recife', 'Manaus', 'Salvador', 'Fortaleza', 'Palmas']

In [30]:
#Reverte a lista
cidades.reverse()
cidades

['Recife', 'Manaus', 'Salvador', 'Fortaleza', 'Palmas']

In [31]:
x = [3,4,2,1]
x

[3, 4, 2, 1]

In [32]:
#Ordena a lista
x.sort()
x

[1, 2, 3, 4]